body {
}

#main_title{
    
}

#bgdiv{
    width:100px;
    height:100px;
    background-color:#3b0fbb;
}

#txtdiv {
    margin-top: 5px;
    font-size: 15px;
    border: dotted;
    border-width: 2px;
    border-color: #ff6a00;
    background-color: #ff6a00;
    width:160px;
}